.vs
.vscode
aescrypt/x64/*
aescrypt/x32/*
aescrypt/aescrypt.aps
aescrypt/aescrypt_i.c
aescrypt/aescrypt_p.c
aescrypt/aescrypt.h
aescrypt/dlldata.c
aescrypt/aescrypt.vcxproj.user
aescrypt_launcher/x64/*
aescrypt_launcher/x32/*
aescrypt_launcher/aescrypt_launcher.aps
aescrypt_launcher/aescrypt_launcher.vcxproj.user
aescrypt_ps/aescrypt_ps.vcxproj.user
aescrypt_ps/x64/*
aescrypt_ps/x32/*
out/
setup/Release/
setup/Debug/
packages/
metadata.json
