.vs
.vscode
aescrypt/x64/*
aescrypt/x32/*
aescrypt/aescrypt.aps
aescrypt/aescrypt_i.c
aescrypt/aescrypt_p.c
aescrypt/aescrypt.h
aescrypt/dlldata.c
aescrypt/aescrypt.vcxproj.user
aescrypt32/x64/*
aescrypt32/x32/*
aescrypt/aescrypt32.aps
aescrypt32/aescrypt32.vcxproj.user
aescrypt_ps/x64/*
aescrypt_ps/x32/*
out/
setup/Release/
setup/Debug/
